.user-downloads-list {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .user-downloads-list h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .user-downloads-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .user-downloads-list th,
  .user-downloads-list td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .user-downloads-list th {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #333;
  }
  
  .user-downloads-list td {
    color: #666;
  }
  
  .user-downloads-list tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .user-downloads-list tr:hover {
    background-color: #f1f1f1; /* Efeito de hover para as linhas da tabela */
  }
  
  .user-downloads-list td.downloads {
    max-width: 200px; /* Limita a largura da coluna de downloads para evitar quebra de linha */
    white-space: nowrap; /* Mantém os nomes dos softwares na mesma linha */
    overflow: hidden; /* Esconde o conteúdo que exceder a largura máxima */
    text-overflow: ellipsis; /* Adiciona "..." se o conteúdo for muito extenso */
    cursor: pointer; /* Muda o cursor para indicar que pode ser clicado */
  }
  
  .user-downloads-list td.downloads:hover {
    overflow: visible; /* Mostra todo o conteúdo ao passar o mouse */
    white-space: normal; /* Permite quebra de linha ao passar o mouse */
  }
  