.user-list {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .user-list h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-list th {
    background-color: #f4f4f4;
  }
  
  .user-list tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  