.softwareItem {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.softwareItem-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.softwareItem-name {
  font-weight: bold;
}

.softwareItem-date {
  font-size: 0.9em;
  color: #666;
}

/* Nova seção para exibir se o software precisa de licença */
.softwareItem-license {
  padding: 6px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

/* Estilo quando o software precisa de licença */
.license-required {
  color: #d9534f; /* Vermelho */
  background-color: #f8d7da; /* Fundo suave */
  border: 1px solid #d9534f;
  padding: 4px 8px;
  border-radius: 5px;
}

/* Estilo quando o software NÃO precisa de licença */
.no-license-needed {
  color: #28a745; /* Verde */
  background-color: #d4edda; /* Fundo suave */
  border: 1px solid #28a745;
  padding: 4px 8px;
  border-radius: 5px;
}
