.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
  }
  
  .software-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .software-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .software-item button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .software-item button:hover {
    background: #0056b3;
  }
  