/* ... Resto do CSS ... */

.top-menu {
  display: flex;
  justify-content: space-between; /* Esta linha fará com que os elementos se alinhem em lados opostos */
  background-color: #333;
  align-items: center;
  padding: 0.5rem 1rem;
}

.top-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* ... Estilos dos itens do menu ... */

.user-logout {
  margin-left: auto; /* Isso empurra o .user-logout para a direita */
  display: flex;
  align-items: center;
}

.user-name {
  color: #fff; /* Ajuste a cor do texto conforme necessário */
  margin-right: 20px; /* Espaço entre o nome do usuário e o botão de logout */
}

.logout-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f00; /* Cor de fundo para o botão de logout */
  color: #fff; /* Cor do texto para o botão de logout */
  border: none; /* Remover borda padrão dos botões */
  border-radius: 4px; /* Cantos arredondados para o botão */
  outline: none; /* Remover contorno ao focar */
}

.logout-button:hover {
  background-color: #c00; /* Cor mais escura ao passar o mouse */
}

/* ... */

  
  .top-menu li {
    padding: 0.5rem 1rem;
    color: #fff; /* Texto claro para contraste */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para hover */
  }
  
  .top-menu li:hover {
    background-color: #555; /* Mudança de fundo ao passar o mouse */
  }
  