.user-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .user-profile h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-profile form,
  .user-profile p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .user-profile label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .user-profile input[type="text"],
  .user-profile input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .user-profile input[type="text"]:disabled,
  .user-profile input[type="email"]:disabled {
    background-color: #f9f9f9;
    color: #ccc;
  }
  
  .user-profile button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }
  
  .user-profile button:hover {
    background-color: #0056b3;
  }
  
  .user-profile .close-btn {
    background-color: #6c757d;
  }
  
  .user-profile .close-btn:hover {
    background-color: #5a6268;
  }
  

  .user-profile select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
  }
  
  .user-profile select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .user-profile select:disabled {
    background-color: #f9f9f9;
    color: #ccc;
  }

  
  .user-softwares{
    border-top: 1px solid rgba(0, 0, 0, 0.2); /* Linha suave na parte inferior da primeira div */
    padding-top: 20px;
  }


  /* Estilos para a listagem de softwares */
  .user-softwares {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
  }
  
  .softwareDownload-list {
    list-style: none; /* remove a formatação padrão da lista */
    padding: 0;
  }
  
  .softwareDownload-item {
    background-color: #f5f5f5; /* um fundo leve */
    border-radius: 5px; /* cantos arredondados */
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .softwareDownload-name {
    font-weight: bold; /* destaque para o nome do software */
  }
  
  .softwareDownload-date {
    font-size: 0.85em; /* tamanho menor para a data */
    color: #666; /* cor mais suave para a data */
  }