body {
    font-family: Arial, sans-serif;
}

/* LoginPage.css */
.login-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .login-container {
    display: flex;
    align-items: center; /* Certifique-se de que a imagem e o formulário estejam alinhados verticalmente */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px; /* Ajuste o border-radius conforme necessário */
  }
  
  .login-top {
    text-align: center;
    /* Outros estilos, como margem, preenchimento, etc., podem ser adicionados aqui */
  }

  .brand-section {
    margin-right: 20px; /* Espaço entre a imagem e o formulário */
  }
  
  .brand-image {
    max-width: 326px; /* Ajuste conforme o tamanho desejado da sua imagem */
    height: auto;
  }
  
  .form-section {
    /* Ajuste o espaçamento e o layout do formulário conforme necessário */
  }
  
  /* Restante do seu CSS */
  
  



h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.login-button {
    background-color: #007bff!important;
    color: #fff;
}

.login-button:hover {
    background-color: #0056b3!important;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.signup-forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.forgot-button {
    background-color: transparent;
    color:  #007bff!important;
    text-align: left;
}

.forgot-button svg {
    margin-right: 8px;
}

.forgot-button:hover {
    color: #cfdeee!important;
    background-color: #0056b3!important;
}

.signup-button {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
