.sobre-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sobre-imagem {
    width: 26%;
    display: block; /* Define a imagem como um bloco */
    margin-left: auto; /* Margem automática à esquerda */
    margin-right: auto; /* Margem automática à direita */
    margin-bottom: 20px; /* Espaçamento na parte inferior da imagem */
  }
  
  .sobre-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sobre-container p {
    text-align: justify;
    margin-bottom: 15px;
  }
  