.tabs button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  .tabs button.active {
    background-color: #d0d0d0;
  }
  