/* Estilo para a tabela de projetoes */
.projeto-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;  /* Centraliza a tabela horizontalmente */
    margin-right: auto; /* Centraliza a tabela horizontalmente */
}


.projeto-table thead {
    background-color: #f7f7f7;
}

.projeto-table th, .projeto-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
}

.projeto-table th {
    font-weight: bold;
}

.projeto-table tbody tr:hover {
    background-color: #f0f0f0;
}

.projeto-table button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.projeto-table button:last-child {
    margin-right: 0;
}

.projeto-table button:hover {
    opacity: 0.8;
}

/* Estilo para o botão Editar */
.projeto-table .edit-button {
    background-color: #007BFF;
    color: white;
}

/* Estilo para o botão Deletar */
.projeto-table .delete-button {
    background-color: #e74c3c;
    color: white;
}

.icon-edit {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #91b1eb;

    transition: color 0.2s;
}

.icon-edit:hover {
    color: #007bff; /* Cor quando passa o mouse por cima. */
}

.icon-remove {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #cd8f97;

    transition: color 0.2s;
}

.icon-remove:hover {
    color: #ed0c1e; /* Cor quando passa o mouse por cima. */
}

.projeto-image {
    width: 50px; /* ou qualquer outro tamanho que você preferir */
    height: 50px;
    border-radius: 50%; /* isso fará a imagem parecer um círculo, remova se você não quiser esse estilo */
    object-fit: cover; /* isso garante que a imagem cubra todo o espaço sem distorcer */
}
